body {
    background-color: #282828;
    color: #E4E6EB;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

    width: 100vw;
    height: 100vh;

}

body .header {
    padding-top: 2%;
    font-size: 5vw;
    font-style: italic;
    text-decoration: underline;
}

body .main {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: justify;
}

body h2 {
    padding-top: 2%;
    font-size: 140%;
    color: #B0B3B8;
}

.players {
    padding-top: 2%;
}

.players button {
    position: relative;
    width: 10vw;
    height: 7vw;
    font-size: 2vw;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

.game{
    width: 100vw;
    height: 100vw;
}


.game-window{

    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;

    left: 50%;
    top: 15%;

    transform: translateX(-50%) translateY(-50%);

    position: relative;

    width: 25vw;
    height: 25vw;

}

.game-window button {

    font-family: 'Open Sans', sans-serif;

    position: relative;

    top:3%;
    left:3%;

    justify-content: space-evenly;
    align-items: center;
    overflow: auto;

    width: 30%;
    height: 30%;

    margin: 0.2vw;
    padding: 0;

    float:left;
    clear:none;

    font-size: 5vw;

    filter: drop-shadow(0.25rem 0.25rem 1rem rgb(255, 255, 255));

}

